State-Machine-A3.txt
{
  "Comment": "State Machine for hashing operation",
  "StartAt": "CheckAction",
  "States": {
    "CheckAction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "sha256",
          "Next": "SHA256"
        },
        {
          "Variable": "$.action",
          "StringEquals": "md5",
          "Next": "MD5"
        },
        {
          "Variable": "$.action",
          "StringEquals": "bcrypt",
          "Next": "Bcrypt"
        }
      ],
      "Default": "InvalidAction"
    },
    "SHA256": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:579748319907:function:A3_LambdaSHA256",
      "End": true
    },
    "MD5": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:579748319907:function:A3_LambdaMD5",
      "End": true
    },
    "Bcrypt": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:579748319907:function:A3_LambdaBcrypt",
      "End": true
    },
    "InvalidAction": {
      "Type": "Fail",
      "Error": "InvalidAction",
      "Cause": "The action provided is not valid."
    }
  }
}